body { background-color: white; }

.banner-card { margin-top: -6rem; z-index: 100; position: inherit; }

.container-fluid { margin-left: 40px; }

.bg-card { position: relative; display: inline-block; text-align: center; }

/*# sourceMappingURL=style.css.map */