body {
    background-color: white;
}

.banner-card {
    margin-top: -6rem;
    z-index: 100;
    position: inherit;
}

.bg-card {
    position: relative;
    display: inline-block;
    text-align: center;
}